<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chloe Wang</title>
    <link href="../../../css/styles.css" type="text/css" rel="stylesheet">
    <link href="../../../css/blog.css" type="text/css" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Inter:wght@400;600&family=Josefin+Sans:wght@600&family=Josefin+Slab&family=Jost:wght@600&family=Londrina+Sketch&family=Marcellus&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../images/favicon.png?">
</head>
<body>
    <div class = "roundBox">
        <script src="../../../header.js"></script>
    <!-- contents -->
        <div class = "content">
            
            <div class = "blogTitle">Generative Pattern with Shape Grammar</div>
            <hr>
            <div class = "blogContent">
                <div class = "sectionTitle">The Spark ✨</div>
                
                <p>My friend <a href = "https://www.wallfacerdesign.com/david-troetschel" target = "_blank">David Troetschel</a> generated this ruleset as an
                 exploration of shape grammar. </p>
                <img id = "rules" src="imgs/rules.png" />
                <p>I was really interested in this ruleset, and decided to try to see what patterns will be generated following the rules. If
                    you don't know what shape grammar is, it is "a system of rewriting shape rules". Check out <a href = "https://www.andrew.cmu.edu/user/ramesh/projects/shape-grammars/index.html#:~:text=A%20shape%20grammar%20is%20a,parts%20constitute%20a%20shape%20rule." target = "_blank">Professor Krishnamurti's intro </a>! 
                </p>
                <hr>
                 <div class = "sectionTitle">Hand Tracing 🖌️</div>
                <p>I decided to first trace through the rules myself, and see what patterns I will be able to create
                    from these rules. During each step, I decided to follow my own intuition and aesthetic to decide what's
                    the 'best' rule to apply. Applying these rules step by step, interesting patterns start to emerge. They have a
                    really nice quality of modularity, so I decided to color them in black and white. And I love the results! Their 
                    modularity and repetition in pattern reminds of mosaic tiles. 
                </p>
                <img id = "rules" src="imgs/hand.png" />
                <hr>
                <div class = "sectionTitle">Algo 💻</div>
                <p>The patterns generated had my personal preference, so in order to 
                    grasp what the rules sets would result in completely randomly,
                    I decided to use programming to randomly generate patterns following the rules. </p>
                <img id = "rules" src = "imgs/generated1.png" />
                <img id = "rules" src = "imgs/generated2.png" />
                <p>These patterns, generated by randomly by computer, were very different from the ones I drew. 
                    They are more organic and less modular. By applying the rules on different scales, there's
                    a lot more hierachy in the pattern. I made the lines translucent so that the pattern would
                    be the brightest at points where the lines overlap. And here are some more pattenrs!
                </p>
                <img id = "rules" src = "imgs/generated3.png" />
                <img id = "rules" src = "imgs/generated4.png" />
                <img id = "rules" src = "imgs/generated5.png" />
                <img id = "rules" src = "imgs/generatedAll.png" />
                <p id = "last"></p>
                
            </div>
            
        </div>
</body>
</html>